.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #282A3A !important;
  /* background-image: url("./imgs/home2.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow-text {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.App {
  text-align: center;
  /* background: linear-gradient(rgba(250, 0, 0, 0.5), transparent);
  background-color: orange; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.pricing-container {
  margin: 5vh auto;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.modal-width {
  width: 420px !important;
}

.route-container {
  max-width: 600px;
  display: flex;
  margin: 50px auto;
  flex-direction: column;
}

.route-accordion {
  padding: 0;
}

.route-container-items {
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.compile-form-container {
  width: 100%;
  display: flex;
  margin: 50px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 20px;
  border-radius: 8px;
  background-color: white;
}

.compile-form-input {
  margin: 0 auto;
  width: 80%;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 70vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.organizer-header {
  display: flex;
  flex-direction: row;
  /* background-color:rgb(34, 34, 34); */
  padding: 10px;
  margin: 0 14%;
  align-items: center;
  justify-content: space-between;
  vertical-align: center;
}